/* CSS Document */
*{
  text-align: center;
  color: #FFF;
}
h1{
  font-family: Cinzel;
  font-weight: 100;
}
p{
  font-family: Indie Flower;
}
body{
  background: rgba(0,0,0,.7);
}
.background{
    position: absolute;
    top: 25%;
    width: 99%;
    opacity: 0.2;
    height: 50%;
    font-size: 20em;
}
change{
  font-weight: bold;  
}