@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

html,
body {
  font-family: "Montserrat", "Arial", sans-serif;
  @apply font-normal text-base overflow-x-hidden bg-gray-100 mx-2;
}

/* Tags List */
.tag-list {
  @apply flex max-w-2xl flex-shrink-0 flex-col gap-y-4 relative overflow-hidden m-auto py-2;
}
.loop-slider .inner {
  @apply flex w-fit; 
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}
.tag {
  @apply flex items-center gap-x-1 text-gray-900 text-sm bg-slate-200 rounded px-4 py-3 mr-4 shadow shadow-gray-600 whitespace-nowrap;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
